.menu-btn {
	float: right;
	svg {
		width: 40px;
		height: 40px;
	}
}
.btn {
	text-transform: uppercase;
	font-weight: $bold;
	border-radius: rem(5px);
}
.close {
	color: $dark;
	border: none;
	background-color: transparent;
	font-size: rem(25px);
	&:focus {
		outline: none;
	}
	&:hover {
		color: lighten($dark, 10%);
	}
}