.primary {
	background-color: #42a0e5;
}
.secondary {
	background-color: #26313a;
}
.dark {
	background-color: #0c1620;
}
.dark-gray {
	background-color: #7a7a7a;
}
.gray {
	background-color: #c0c9d7;
}
.light-gray {
	background-color: #ebf0f4;
}
.lighter-gray {
	background-color: #f0f4f7;
}
.success {
	background-color: #95cf54;
}
.warning {
	background-color: #ebe48f;
}
.danger {
	background-color: #ff485f;
}
.panel-border {
	background-color: #e5e6eb;
}
.panel-bg {
	background-color: #ffffff;
}