// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Muli:400,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

.hero {
	font-size: 75px;
	font-weight: $bold;
	font-family: 'Muli', sans-serif;
}