body {
	background: $body-bg;
	font-family: $font-family-base;
}
html,
body {
	height: 100%;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
ul {
	list-style: none;
	padding-left: 0;
}
a {
	transition: background-color ease 0.2s;
}
.show {
	display: block;
	opacity: 1;
}