@mixin transition($transition) {
	-webkit-transition: $transition ease-in-out;
	-moz-transition: $transition ease-in-out;
	-o-transition: $transition ease-in-out;
	transition: $transition ease-in-out;
}