.navbar {
	padding: 0;
	ul {
		li {
			a {
				color: #fff;
				font-size: $font-size-base;
				svg {
					width: 18px;
					height: 18px;
					position: relative;
					bottom: 3px;
					margin-right: 8px;
				}
				&:hover {
					svg {
						color: $primary;
					}
				}
			}
			ul {
				display: none;
				opacity: 0;
				li {
					a {
						color: #fff;
						padding-left: 30px;
					}
				}
			}
		}
	}
}