/* Base */
.border {
	border: solid 1px #ccc;
	padding: 15px;
}
.border-no-top {
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}
.divider {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 2px;
	border-top: solid 2px #ccc;
}
.swatch-picker {
	width: 15px;
	height: 15px;
	display: inline-block;
}
#color,
#icon,
#button,
#component,
#mixin {
	margin-bottom: 30px;
}
#main {
	background: #fff;
	width: 100%;
	padding: 15px;
}
/* Color Swatches */
.color-swatch {
	margin-bottom: 30px;
	.top-swatch {
		height: 80px;
	}
	.swatch-detail {
		padding: 15px;
	}
}
/* Typography */
.title h1 {
	text-align: center;
	margin-bottom: 60px;
}
#type .type-item {
	padding: 15px 0;
}
#type .styles p {
	margin-bottom: 0;
	color: #999;
}
#type p span {
	font-weight: 900;
	color: #777;
}
.fonts p {
	margin-bottom: 0;
}
h4 {
	margin-top: 15px;
	margin-bottom: 15px;
}

#sidebar {
	.sidebar-brand {
		margin-top: 35px;
		margin-bottom: 35px;
	}
}
#icon {
	.icon-detail {
		padding: 30px;
		background: $light-gray;
		margin-top: 30px;
		margin-bottom: 30px;
		p:last-child {
			margin-bottom: 0;
		}
	}
	.icons {
		.icon-item {
			margin: 0 auto 30px auto;
			text-align: center;
			h4 {
				margin-top: 8px;
				margin-bottom: 15px;
			}
			svg {
				&:hover {
					color: $primary;
				}
			}
		}
	}
}
#button {
	.btn {
		&:hover {
			cursor: pointer;
		}
	}
}
// Colors
.primary {
	background-color: $primary;
}
.secondary {
	background-color: $secondary;
}
.dark {
	background-color: $dark;
}
.dark-gray {
	background-color: $dark-gray;
}
.gray {
	background-color: $gray;
}
.light-gray {
	background-color: $light-gray;
}
.lighter-gray {
	background-color: $lighter-gray;
}
.success {
	background-color: #95cf54;
}
.warning {
	background-color: #ebe48f;
}
.danger {
	background-color: #ff485f;
}
.panel-border {
	background-color: #e5e6eb;
}
.panel-bg {
	background-color: #ffffff;
}