$font-size-base: rem(15px);
$font-size-sm: rem(13px);
$font-family-base: 'Roboto', sans-serif;
$normal: 400;
$bold: 900;
$primary: #42a0e5;
$secondary: #26313a;
$dark: #0c1620;
$dark-gray: #7a7a7a;
$gray: #c0c9d7;
$light-gray: #ebf0f4;
$lighter-gray: #f0f4f7;
$panel-bg: #fff;

$success: #95CF54;
$warning: #EBE48F;
$danger: #FF485F;

$border: #E5E6EB;
$background: #fff;